.containerCWE {
  padding: 32px;
  background: linear-gradient(
    270deg,
    #dadae4 0.25%,
    #eeeef0 24.33%,
    #f8f8f8 52.08%,
    #fefefe 100%
  );
}

.titleCWE {
    text-align: start;
  margin-bottom: 20px;
  font-family: Reptile;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 134.8%;
  color: #000000;
}

.contentCWE {
    text-align: start;
  margin-bottom: 32px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 206.5%;
  color: rgba(0, 0, 0, 0.8);
}
