.containerLYEWBG {
  padding-left: 34px;
  padding-right: 34px;
  background: #dce9e9;
}

.hashtagLYEWBG {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
